<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Figure It Out</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">
        Figure It Out
      </h1>
      <p class="subtitle has-text-centered">
        Learning stuff <strong><em>yourself</em></strong>!
      </p>
      <hr>

      <h2 class="title"><%= title %>?</h2>
      <p class="subtitle is-text-size-2">Written by <%= author %> on <%= (Date.today - rand(1..3000)).strftime("%m/%d/%Y") %></p>
      <p><%= intro %></p>
      <pre>
        <p class="has-font-weight-bold" style="font-size: 2em;">FIGURE IT OUT!</p>
      </pre>
      <br>
      <br>
      <p><%= farewell %></p>
      <p><%= author.split(" ").first %></p>
      <hr>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img class="is-rounded" src="https://source.unsplash.com/128x128/?face,male">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= author %></strong> <small>@figureitout</small>
              <br>
              <%= author.split(" ").first %> is a renown expert in <%= expertise.downcase %> at <%= company_name %>. Favorite languages include <%= languages %>.<br>They live their life by the following rule: "<%= quote %>"
            </p>
          </div>
        </div>
      </article>

      <hr>

      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>FigureItOut</strong> by <a href="http://figureitout.page"><%= author %></a>. The source code is <%= footer_type %>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>

    </div>
  </section>
  </body>
</html>
